# Enumeration: ValidationResult

## Values

| Value | Caption |
|---|---|
| `UnUsed` | UnUsed |
| `ValidAttribute` | ValidAttribute |
| `ValidReference` | ValidReference |
| `NoReferenceSelected` | NoReferenceSelected |
| `NoReferencedObjectSelected` | NoReferencedObjectSelected |
| `NoAttributeSelected` | NoAttributeSelected |
| `InvalidAttribute` | InvalidAttribute |
| `InvalidReference` | InvalidReference |
| `InvalidReferencedObject` | InvalidReferencedObject |
| `NoAssociationKeys` | No key columns for the association |
| `InvalidAutoNumberSelection` | InvalidAutoNumberSelection |
